.DS_Store
Sheet Music Renamer Automator.app/Contents/document.wflow
Sheet Music Renamer Automator.app/Contents/Info.plist
Sheet Music Renamer Automator.app/Contents/_CodeSignature/CodeResources
Sheet Music Renamer Automator.app/Contents/MacOS/Automator Application Stub
Sheet Music Renamer Automator.app/Contents/Resources/ApplicationStub.icns
Sheet Music Renamer Automator.app/Contents/Resources/Assets.car
Sheet Music Renamer Automator.app/Contents/Resources/InfoPlist.loctable
